---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home | Barber Studio">
  <section class="text-center py-28 border-b border-accent">
  <h2 class="text-5xl md:text-6xl font-extrabold tracking-wide mb-6">
    Sharp Cuts. Clean Style.
  </h2>
  <p class="text-accent max-w-xl mx-auto mb-10 text-lg">
    Professional grooming and styling for the modern gentleman.
  </p>
  <a href="/contact" class="inline-block border border-white px-8 py-3 text-sm uppercase tracking-widest hover:bg-white hover:text-black transition duration-300">
    Book an Appointment
  </a>
</section>
</BaseLayout>
